<div class="footer">
  <div class="footer-links nav_margin">

    <%= link_to "#", target: :_blank do %>
      <i class="fab fa-instagram"></i>
    <% end %>

    <%= link_to "https://www.facebook.com/mathieu.tremblay.7758", target: :_blank do %>
      <i class="fab fa-facebook"></i>
    <% end %>

  </div>
</div>



