<% @photos.each do |photo| %>
  <p>
  <%= photo.title %> | <%= photo.description %> |
  <%= link_to 'See more',  region_photos_path(photo) %>
 <!--  <%# if policy(region).edit? %>
    | <%#= link_to 'Edit', edit_region_path(region) %> |
  <%# end %>
  <%# if policy(region).destroy? %>
    <%#= link_to 'Delete', region_path(region), method: :delete, data: { confirm: "Are you sure you want to delete #{country.title}?"} %>
  <%# end %> -->
  </p>
<% end %>
