.banner {
  background-image: asset-url('cover.JPG');
  background-size: cover;
  height: 670px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.banner_title{
  color: #F3F3F3;
  padding: 18px;
  font-size: 35px;
  letter-spacing: 11px;
  text-shadow: 0 0 1px #ADB5BD;
  font-weight: bold;
}

#banner_title {
  border: none !important;
}

.banner_text {
  color: #F3F3F3;
  letter-spacing: 4px;
  padding-top: 15px;
  text-shadow: 0 0 1px #ADB5BD;
}



