.banner {
  background-image: asset-url('cover.JPG');
  background-size: cover;
  height: 670px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.border{
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

#banner_title {
  border: none !important;
}
