// code de base
.banner, .form_new_country {
  background-image: url('cover_mathieu.JPG');
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #000;
}


.banner_title{
  color: #F3F3F3;
  margin-left: 10px;
  padding: 18px;
  font-size: 48px;
  letter-spacing: 13px;
  text-shadow: 0 0 1px #ADB5BD;
  font-weight: 600;
}


#banner_title {
  border: none !important;
}


.banner_text, .banner_name {
  color: #F3F3F3;
  letter-spacing: 4px;
  text-shadow: 0 0 1px #ADB5BD;
  padding-top: 15px;
}


.banner_text {
  font-size: 14px;
  font-weight: 400;
}


.banner_name {
  font-size: 20px;
  font-weight: 200;
}


.chevron {
  color: #F3F3F3;
  margin-top: 185px;
}


//  from big tablets to 1200px
@media only screen and (max-width: 1200px) {
  .banner {

  }
}

// small tablets to bigs one : from 768 to 1032px
@media only screen and (max-width: 1032px) {
  .banner {

  }
}

// medium phones to ipad & tablets : from 481 to 767PX
@media only screen and (max-width: 767px) {
  .banner {

   }
}


// // small phones from 0 to 480px
@media only screen and (max-width: 480px) {
  }
  .caption {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #000;
}


.banner_title {
  color: #F3F3F3;
  margin-left: 10px;
  padding: 18px;
  font-size: 48px;
  letter-spacing: 13px;
  text-shadow: 0 0 1px #ADB5BD;
  font-weight: 600;
}


#banner_title {
  border: none !important;
}


.banner_text, .banner_name {
  color: #F3F3F3;
  letter-spacing: 4px;
  text-shadow: 0 0 1px #ADB5BD;
  padding-top: 15px;
}


.banner_text {
  font-size: 14px;
  font-weight: 400;
}


.banner_name {
  font-size: 20px;
  font-weight: 200;
}


.chevron {
  color: #F3F3F3;
  margin-top: 185px;
}
}


@media all and (max-width: 400px) { // iphone SE ok
  .banner, .form_new_country {
    background-image: asset-url('cover_iphone.jpeg');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .chevron {
    margin-top: 100px;
  }
  .banner_title {
    font-size: 25px;
    letter-spacing: 8px;
  }
  .banner_text, .banner_name {
    letter-spacing: 0px;
  }
  .banner_text {
    font-weight: 200;
    font-size: 12px;
  }
  .banner_name {
    font-size: 16px;
  }
}


@media all and (min-height: 810px) { // iphoneX ok ?
  .banner, .form_new_country {
    background-image: asset-url('cover_iphone.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .chevron {
    margin-top: 300px;
  }
  .banner_title {
    font-size: 32px;
  }
  .banner_text {
    font-size: 14px;
  }
  .banner_name {
    font-size: 18px;
  }
}

// @media only screen and (max-width: 350px) {
//   .banner {
//     background-image: url('cover_iphone_2.jpeg');
//   }
// }
