.all_cards {
  // background: blue;
  margin: 50px;
  margin-bottom: 0px;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}


.cards_country_show {
  padding-top: 0px;
  margin-top: 30px;
}



#photos_wrapper {
  grid-template-columns: repeat(1, 1fr);
}


.one_card_info, .CTA {
  color: #747474;
  padding-bottom: 20px;
}


.photos_index {
  color: #d8d8d8;
  font-weight: 600;
  font-size: 50px;
  text-align: end;
  line-height: 1.1;
  margin-right: 0em;
}


#photos_card_image {
  justify-content: center;
  display: flex;
}


.title_CTA {
  padding-top: 14px;
  font-size: 16px;
  letter-spacing: 8px;
  font-weight: 600;
}


.description_CTA {
  font-size: 13px;
  font-weight: 300;
}


.CTA {
  &:hover {
    text-decoration: none;
    color: #343A40;
  }
}


.pundit_CTA {
  padding-top: 11px;
}



@media all and (min-width: 1500px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 70px; // c'est ça qu'il faut changer
    background-color: #F3F3F3;
  }
}

@media all and (min-width: 2000px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 90px; // c'est ça qu'il faut changer
    background-color: #F3F3F3;
  }
}

@media all and (min-width: 2500px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 90px; // c'est ça qu'il faut changer
    background-color: #F3F3F3;
  }
  .chevron {
     margin-top: 300px;
  }
}


@media all and (max-width: 1600px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px; // c'est ça qu'il faut changer
    background-color: #F3F3F3;
  }
}

@media all and (max-width: 1080px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px; // c'est ça qu'il faut changer
    background-color: #F3F3F3;
  }
}

@media all and (max-width: 730px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: #F3F3F3;
  }

  #photos_wrapper img {
    max-width: 690px;
  }
}

