.all_cards {
  // background: blue;
  margin: 50px;
  margin-bottom: 0px;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}


.cards_country_show {
  padding-top: 0px;
  margin-top: 30px;
}


.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  background-color: #F3F3F3;
}


#photos_wrapper {
  grid-template-columns: repeat(1, 1fr);
}


.one_card_info, .CTA {
  color: #747474;
  padding-bottom: 20px;
}


.photos_index {
  color: #d8d8d8;
  font-weight: 600;
  font-size: 50px;
  text-align: end;
  line-height: 1.1;
  margin-right: 0em;
}


#photos_card_image {
  justify-content: center;
  display: flex;
}


.title_CTA {
  padding-top: 14px;
  font-size: 16px;
  letter-spacing: 8px;
  font-weight: 600;
}


.description_CTA {
  font-size: 13px;
  font-weight: 300;
}


.CTA {
  &:hover {
    text-decoration: none;
    color: #343A40;
  }
}


.pundit_CTA {
  padding-top: 11px;
}

