.footer {
  background-color: rgba(0,0,0,0);
  padding: 0em;
  margin-top: 2em;
  margin-bottom: 0.3em;
  text-align: end;
}


.footer-links a {
  color: #747474;
  font-size: 20px;
  padding: 0px 4px;
}


.footer-links a:hover {
    text-decoration: none;
    color: #343A40;
}


.content-wrapper {
  min-height: calc(100vh - 3px - 80px);
}

.fa-envelope {
  display: none;
}
