.navbar {
  background-color: rgba(0,0,0,0);
  padding: 0px;
  margin-top: 0px;
}


.greeting {
  margin-left: 1vw;
  // background-color: blue;
  margin-top: 5px;
}

.pundit_nav a, #country_title {
  padding-left: 8px;
  // background-color: green;
}


.greeting {
  color: #FFF8F4;
}


.nav_margin {
  // background-color: yellow;
  margin-top: 0.3vw;
  margin-right: 1vw;
  margin-left: 1vw;
}


.logo {
  background-image: asset-url('faguoren_logo.jpg');
  background-size: cover;
  height: 30px;
  width: 30px;
}


.add_country {
  color: #747474;
  &:hover {
    text-decoration: none;
    color: #343A40;
  }
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


.nav_countries_show {
  background-color: #F3F3F3;
  // background-color: red;
  justify-content: space-between;
}


#nav_delete, #nav_chevron, #chevron_nav_countries_show {
  padding-right: 15px;
}


#nav_home_country, #nav_home_region {
  padding-left: 8px;
  font-size: 18px;
}


@media (max-width: 767px) {
  .navbar {
    display: none !important;
  }
}
