.pages_titles  {
  padding-top: 70px;
  h1 {
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 11px;
  }
  p {
    letter-spacing: 4px;
    padding-top: 8px;
  }
}

.pages_titles h1, .pages_titles p {
  display: flex;
  justify-content: space-around;
}

