.pages_titles  {
  color: #747474;
    h1 {
      font-weight: bold;
      font-size: 28px;
      letter-spacing: 11px;
      margin-bottom: 0px;
      display: flex;
      justify-content: space-around;
      margin-top: 50px;
    }
    p {
      letter-spacing: 4px;
      margin: 0 auto;
      text-align: center;
      margin-top: 0px;
    }
}


#visitor {
  margin-left: 100px;
}

.photos_titles {
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  line-height: 3;
  margin-left: 0em;
}


@media all and (max-width: 415px) {
  .photos_titles {
    font-size: 12px;
  }
}
