<!-- <p><%# @country.title %> | <%# @country.description %> </p> -->

<!-- <%# link_to "Back", countries_path %> |
<%# link_to "Edit", edit_country_path(@country) %> |
<%=# link_to "Delete", country_path(@country), method: :delete, data: { confirm: "Are you sure you want to delete #{@country.title}?"}%>

 -->
